.education-popup{
    all: unset;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    position: fixed;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.education-popup-inner{
    all: unset;
    margin: auto;
    margin-right: 5%;
    margin-top: 5%;
    position: relative;
    /* max-width: 640px; */
    height: auto;
    max-height: 50vh;
    width: auto;
    background-color: white;
    background-color: rgb(219, 219, 219);
    border: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    outline: 2px solid rgb(195,195,195);
    justify-content:space-evenly;
    display: flex;
    flex-direction: column;
}

.education-popup-inner .close-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
    font-weight: bold;
    border: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.education-header{
    flex: 1;
    background-color: rgb(0,0,130);
    background-color: blue;
}

.education-header h1{
    margin: 2px; 
    padding: 0;
    color: white;
}
.education-content{
    flex: 25;
    width: 100%;
    margin: auto;
    overflow: auto;
}


.courses-table{
    font-family:"MS Sans Serif";
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    font-size: 30px;
    overflow: auto;
}
th{
    background-color: rgb(192,199,200);
    border-bottom: 2px solid black;
    text-align: left;
    padding-left: 10px;
}
td{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

td img{
    height: 20px;
}

tr:hover td{
    background-color: darkblue;
    background-color: blue;
    border-top: 3px dotted white;
    border-bottom: 3px dotted black;
    color: white;
    cursor: pointer;
}