.popup-main{
    all: unset;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    position: fixed;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    all: unset;
    margin: auto;
    position: relative;
    /* max-width: 640px; */
    height: auto;
    width: 50%;
    background-color: rgb(219, 219, 219);
    border: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    outline: 2px solid rgb(195,195,195);
    justify-content:space-evenly;
    display: flex;
    flex-direction: column;
}

.popup-inner .close-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
    font-weight: bold;
    border: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.popup-header{
    flex: 1;
    background-color: blue;
}

.popup-header h1{
    margin: 2px; 
    padding: 0;
    color: white;
}
.popup-content{
    flex: 25;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.popup-content-top{
    /* flex: 5; */
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    /* margin-bottom: 20px; */
    height: auto;
}
.popup-content-top h1{
    width: 100%;
    margin: auto;
    font-size: 100px;
    margin-top: 10%;
    margin-left: 20px;
}

.popup-content-top p{
    flex: 20;
    font-size: 120%;
    margin-top: 5%;
}

.popup-content-top img{
    flex: 1;
    height: 50%;
    max-height: 50px;
    vertical-align: center;
    margin-top: 5%;
    margin-right: 5%;
}

.popup-inner .close-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
    font-weight: bold;
    border: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.popup-content-bottom{
    /* flex: 3; */
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    justify-content: left;
}

.popup-content-bottom button{
    font-family: "MS Sans Serif";
    font-size: 150%;
    outline: 1px solid #000000;
    background: #C0C0C0;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF #808080 #808080 #FFFFFF;
    padding: 1% 2%;
    margin: 2%;
    display: inline-block;
    position: relative;
    bottom: 0px;
    display: inline-block;
    cursor: pointer;
    height: auto;
}

/* 
.link-button p:hover{
    border: 2px dotted black;
    padding: 0; margin: 0;
} */

.link-button:hover{
    background-color: rgb(241, 239, 239);
}


a{
    all: unset;
}